{
  "openapi": "3.1.0",
  "info": {
    "description": "# Introduction\nWelcome to the **All-New** AirDNA API!\n\nThe AirDNA API provides direct access to our industry-leading data & analytics.\nWhether you’re looking to discover a property’s earning potential, compare markets side by side, or run comps to inform\nyour revenue management strategy, you can do so with the endpoints found here.\n\nThe AirDNA API is divided into four packages, each with their own value and use cases:\n- **Market Data:** Unlock market-level data to compare entire different locations side by side, and future data to how properties\n  in that market are priced for upcoming days.\n- **Property Valuations & Comps:** Conduct property-level research with advanced filtering and comp analysis\n  to inform your acquisitions, benchmarking, pricing, and more.\n- **Rentalizer Lead Gen:** Determine the earning potential, occupancy, and nightly rate for any address, anywhere in the world.\n- **Smart Rates Data:** Use Smart Rates — AirDNA’s proprietary dynamic pricing solution – to receive recommended nightly rates for each of your properties.\n\nFor more information on our API and its use cases, [**Contact Sales**](https://www.airdna.co/contact) to get started with an API Key.\n\n# Authentication\nAll requests to AirDNA's APIs **require** an [**Authorization HTTP header**](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Authorization) with a Bearer token.\n- You can obtain an API Key by [**contacting sales**](https://www.airdna.co/contact).\n\nFor example, if your API Key is `a1b2c3d4e5f6g7h8i9j0k1l2`, then your `Authorization` header  will be:\n```\nAuthorization: \"Bearer a1b2c3d4e5f6g7h8i9j0k1l2\"\n```\n\n## Example: Valid Token\nThe following example uses `cURL` to demonstrate how to perform a **successful** request. This assumes:\n- Your API Key has not expired.\n- Your account has been authorized to access the API Package that the endpoint belongs to.\n\n### Request\n```bash\ncurl -i -X POST \\\n  https://api.airdna.co/api/enterprise/v2/market/search \\\n  -H 'Authorization: Bearer a1b2c3d4e5f6g7h8i9j0k1l2' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"search_term\": \"Denver\",\n    \"pagination\": {\n      \"page_size\": 1,\n      \"offset\": 0\n    }\n  }'\n```\n### Response `200`\n```json\n{\n  \"payload\": {\n    \"page_info\": {\n      \"page_size\": 1,\n      \"offset\": 0\n    },\n    \"results\": [\n      {\n        \"id\": \"airdna-163\",\n        \"name\": \"Denver\",\n        \"type\": \"market\",\n        \"listing_count\": 15231,\n        \"location_name\": \"Denver, Colorado, United States, US\",\n        \"location\": {\n          \"state\": \"Colorado\",\n          \"country\": \"United States\",\n          \"country_code\": \"us\"\n        },\n        \"legacy_location\": {\n          \"city_names\": [],\n          \"zipcodes\": [],\n          \"neighborhoods\": []\n        }\n      }\n    ]\n  },\n  \"status\": {\n    \"type\": \"success\",\n    \"response_id\": \"API-S-011\",\n    \"message\": \"Successfully fetched 1 Market for the requested parameters.\"\n  }\n}\n```\n\n## Example: Invalid Token\nThe following example uses `cURL` to demonstrate what happens if you provide an **invalid** token.\n### Request\n```bash\ncurl -i -X POST \\\n  https://api.airdna.co/api/enterprise/v2/market/search \\\n  -H 'Authorization: Bearer invalidToken' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"search_term\": \"Denver\",\n    \"pagination\": {\n      \"page_size\": 1,\n      \"offset\": 0\n    }\n  }'\n```\n### Response `401`\n```json\n{\n    \"error\": {\n        \"type\": \"invalid_credentials\",\n        \"message\": \"Unauthorized\"\n    }\n}\n```\n\n## Example: Missing Token\nThe following example uses `cURL` to demonstrate what happens if you omit a token.\n### Request\n```bash\ncurl -i -X POST \\\n  https://api.airdna.co/api/enterprise/v2/market/search \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"search_term\": \"Denver\",\n    \"pagination\": {\n      \"page_size\": 1,\n      \"offset\": 0\n    }\n  }'\n```\n### Response `401`\n```json\n{\n    \"error\": {\n        \"type\": \"invalid_credentials\",\n        \"message\": \"Authorization token is missing\"\n    }\n}\n```\n",
    "version": "2.0.0",
    "title": "AirDNA Enterprise API",
    "contact": {
      "email": "api@airdna.co"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "description": "AirDNA API",
      "url": "https://api.airdna.co/api/enterprise/v2"
    }
  ],
  "tags": [
    {
      "name": "market_data",
      "x-displayName": "Market Data",
      "description": "Whether you're looking to discover trending markets, learn about a market's historical performance, or gauge its future outlook, these endpoints can support your research.\n\n### Historical Market Data\nWe provide between **12 and 60 months** of monthly **historical** data for the following key metrics:\n\n* Booking Data\n  * **Occupancy**\n  * **Booking Demand**\n  * **Booking Lead Time**\n  * **Average Length of Stay**\n* Pricing Data\n  * **Average Revenue**\n  * **Average Daily Rate**\n  * **RevPAR** (Revenue Per Available Rental)\n\n### Explore Markets\n* In addition to our historical data, our endpoints can help you explore and evaluate markets using a combination of the following:\n  * [Market Filters](/#tag/market_filters)\n  * [Listing Filters](/#tag/listing_filters)\n* To find the `market_id` for a known Market, you can use our [Market Search](/#tag/market_data/operation/marketSearch) endpoint.\n"
    },
    {
      "name": "submarket_data",
      "x-displayName": "Submarket Data",
      "description": "Whether you're looking to discover trending Submarkets or learn about a Submarket's historical performance, these endpoints can support your research.\n\n### Historical Submarket Data\nWe provide between **12 and 60 months** of monthly historical data for the following key metrics:\n\n* Booking Data\n  * **Occupancy**\n  * **Booking Demand**\n  * **Booking Lead Time**\n  * **Average Length of Stay**\n* Pricing Data\n  * **Average Revenue**\n  * **Average Daily Rate**\n  * **RevPAR** (Revenue Per Available Rental)\n\n### Explore Markets\n* In addition to our historical data, our endpoints can help you explore and evaluate Markets using a combination of the following:\n  * [Market Filters](/#tag/market_filters)\n  * [Listing Filters](/#tag/listing_filters)\n* To find the `submarket_id` for a known Submarket, you can use our [Market Search](/#tag/submarket_data/operation/marketSearch) endpoint.\n"
    },
    {
      "name": "listing_data",
      "x-displayName": "STR Listing Data",
      "description": "This section provides data for individual Short-Term Rental listings from Airbnb & Vrbo. It is ideal for searching for listings within certain parameters and also fetching metrics for individual listings.\n\n### Explore Listings\nOur endpoints can help you explore and evaluate listings. You can search for:\n* Listings within a **Country**\n* Listings within a **Market**\n* **Comps** for a Listing\n* **Future Pricing** for a Listing\n\n### Historical Listing Data\nWe provide between **12 and 60 months** of monthly historical data for individual and multiple listings including the following:\n* **Metrics such as date, occupancy, revenue, and ADR**\n* **Details such as number of bedrooms, ratings, reviews, and market**\n\n### Recommendations:\n* Use [Listing Filters](/#tag/listing_filters) to narrow down your search results for listings.\n* To find the `market_id` for a known Market, you can use our [Market Search](/#tag/listing_data/operation/marketSearch) endpoint.\n"
    },
    {
      "name": "smart_rates",
      "x-displayName": "Smart Rates",
      "description": "The AirDNA Smart Rates API provides recommended daily rates for a specific Airbnb listing.\n"
    },
    {
      "name": "rentalizer_summary_data",
      "x-displayName": "Rentalizer Summary Data",
      "description": "Rentalizer uses AirDNA's proprietary algorithms and data to provide Performance Estimates for addresses or locations.\n"
    },
    {
      "name": "rentalizer_data",
      "x-displayName": "Rentalizer Data",
      "description": "Rentalizer uses AirDNA's proprietary algorithms and data to provide Performance Estimations for addresses or locations.\n\n### What is Rentalizer?\nAcross our Rentalizer endpoints, our performance estimates include **Monthly** and **Yearly** data. such as:\n* Future\n  * **Average Daily Rate**\n  * **Revenue**\n  * **Revenue Potential**\n  * **Occupancy**\n* Historical\n  * **Historical Revenue Valuation**\n\n### Recommendations:\n* For **detailed** estimates with **monthly** data and **comps**, check out our endpoint for an [Individual Rentalizer Estimate](/#tag/rentalizer_data/operation/rentalizerEstimate)\n* For **bulk-summary** estimates with _only_ **yearly** data, check out our endpoint for a [Bulk Rentalizer Estimate](/#tag/rentalizer_data/operation/rentalizerBulkSummary)\n"
    },
    {
      "name": "filter_rules",
      "x-displayName": "Intro to Filters",
      "description": "Filtering is an essential feature to help you obtain data that is relevant to your business needs.\n\nIn the following sections, we will explain the _**do's and don'ts**_ of filtering, and you'll also find a list of available filters that can be used to refine your queries.\n\n> ### ⚠️ Notice\n> * Filters are **not required** for every data scenario, but we encourage using them when available.\n> * To use one or more filters on a supported endpoint, you will **need** to send an `array` of supported Filter Objects.\n> * The order of the filters **does not** matter.\n\n## The Filter Object\nThe **Filter Object** is how you will use filters with supported endpoints.\n\nThe following table describes each of the **required** properties for any **Filter Object**.\n\n| Property | Data Type(s) | Description |\n| -------- | ---- | ----------- |\n| `\"field\"` | `\"string\"` | The data **attribute** that you want to filter on. |\n| `\"type\"` | `\"string\"` | The **type** of filter that you want to apply.  <ul><li>`\"select\"`</li><li>`\"multi_select\"`</li><li>`\"lt\"`</li><li>`\"lte\"`</li><li>`\"gt\"`</li><li>`\"gte\"`</li><li>`\"range\"`</li></ul> |\n| `\"value\"` | <ul><li>`\"string\"`</li><li>`\"number\"`</li><li>`\"boolean\"`</li><li>`\"array\"`</li></ul> | The value(s) for the `field` that you want to filter on. |\n\n> ### ⚠️ Notice\n> * Each **Property** described in the table is **required**\n> * The supported values for `\"type\"` and `\"value\"` will depend on the `\"field\"` you are filtering on.\n\n## Using a Single Filter\nIf you only need to use a single filter in your query, you can simply add it to the `filters` array.\n\n### [Example]: Basic Usage\n\nIn the following example, we use the `filters` array to retrieve a **dataset** where the Listings can accommodate a `minimum` of `8` people.\n```json\n{\n  \"filters\": [\n    {\n      \"type\": \"gte\"\n      \"field\": \"accommodates\",\n      \"value\": 8\n    }\n  ]\n}\n```\n> ### ⚠️ Notice\n> Filters **must** be sent from the `filters` property via an `array`.\n\nSome examples of how you might use this example filter:\n* Exploring market Data:\n  * [**Explore markets within a country**](/#tag/market_data/operation/fetchMarketsByCountry) that have listings that can accommodate a minimum of 8 people.\n  * [**Explore submarkets within a country**](/#tag/submarket_data/operation/fetchSubmarketsByCountry) that have listings that can accommodate a minimum of 8 people.\n* Exploring listing Data:\n  * [**Explore listings within a country**](/#tag/listing_data/operation/fetchListingsByCountry) that can accommodate a minimum of 8 people.\n  * [**Explore listings within a market**](/#tag/listing_data/operation/fetchListingsByMarket) that can accommodate a minimum of 8 people.\n  * [**Explore listings within a submarket**](/#tag/listing_data/operation/fetchListingsBySubmarket) that can accommodate a minimum of 8 people.\n\n## Using Multiple Filters\nThe ability to combine **multiple** filters is a key element that allows you to obtain data that meets your specific Business needs.\n> ### ⚠️ Notice\n> * Each `field` can only  have **one** filter applied in any given query.\n\n### [Example #1]: Using Numeric Constraints\nIn the following example, we filter data where the Listings' `bedrooms` have a `minimum=2` and `maximum=6`.\n\nInstead of trying to use both `gte` and `lte` filters, you can instead use the `range` filter.\n\n#### ❎ INVALID\nApplying multiple filters on the same `field` is unsupported.\n```json\n{\n  \"filters\": [\n    {\n      \"type\": \"gte\"\n      \"field\": \"bedrooms\",\n      \"value\": 2\n    },\n    {\n      \"type\": \"lte\"\n      \"field\": \"bedrooms\",\n      \"value\": 6\n    }\n  ]\n}\n```\n\n#### ✅ VALID\nThe supported way of using both `gte` and `lte` filtering is to use the `range` filter.\n```json\n{\n  \"filters\": [\n    {\n      \"type\": \"range\"\n      \"field\": \"bedrooms\",\n      \"value\": [2, 6]\n    }\n  ]\n}\n```\n\n### [Example #2]: Filtering Exact Values\nThere may be some circumstances where you want each `field` to match an exact value. For this purpose, we have the `select` filter.\n\nIn the following example, we filter data where Listings have exactly `2` bedrooms AND accommodates `4` people.\n```json\n{\n  \"filters\": [\n    {\n      \"type\": \"select\"\n      \"field\": \"bedrooms\",\n      \"value\": 2\n    },\n    {\n      \"type\": \"select\"\n      \"field\": \"accommodates\",\n      \"value\": 4\n    }\n  ]\n}\n```\n### [Example #3]: Filtering A Field To Multiple Exact Values\nYou may also want to filter data where each `field` matches one or more values. For this purpose, we have the `multi_select` filter.\n\nIn the following example, we filter data where Listings can accommodate exactly `4` people, AND that the data belongs to two distinct markets (`\"airdna-163\"` and `\"airdna-414\"`).\n```json\n{\n  \"filters\": [\n    {\n      \"type\": \"select\"\n      \"field\": \"accommodates\",\n      \"value\": 4\n    },\n    {\n      \"type\": \"multi_select\"\n      \"field\": \"market_id\",\n      \"value\": [\"airdna-163\", \"airdna-414\"]\n    }\n  ]\n}\n```\n"
    },
    {
      "name": "market_filters",
      "x-displayName": "Market Filters",
      "description": "## Investability\nUse this filter to only include results where the market's `investability` score matches the requested parameters.\n<SchemaDefinition schemaRef=\"#/components/schemas/InvestabilityFilter\" />\n\n## Listing Count\nUse this to filter results where the market's total active `listing_count` matches the requested parameters.\n<SchemaDefinition schemaRef=\"#/components/schemas/ListingCountFilter\" />\n\n## Market ID\nUse this filter to only include results that belong to the provided market(s).\n<SchemaDefinition schemaRef=\"#/components/schemas/MarketIdFilter\" />\n\n## Market Type\nUse this filter to only include results where the `market_type` matches the requested types.\n<SchemaDefinition schemaRef=\"#/components/schemas/MarketTypeFilter\" />\n\n## Regulation\nUse this filter to only include results where the market's `regulation` score matches the requested parameters.\n<SchemaDefinition schemaRef=\"#/components/schemas/RegulationFilter\" />\n\n## Rental Demand\nUse this filter to only include results where the market's `rental_demand` score matches the requested parameters.\n<SchemaDefinition schemaRef=\"#/components/schemas/RentalDemandFilter\" />\n\n## Revenue Growth\nUse this filter to only include results where the market's `revenue_growth` score matches the requested parameters.\n<SchemaDefinition schemaRef=\"#/components/schemas/RevenueGrowthFilter\" />\n\n## Seasonality\nUse this filter to only include results where the market's `seasonality` score matches the requested parameters.\n<SchemaDefinition schemaRef=\"#/components/schemas/SeasonalityFilter\" />\n"
    },
    {
      "name": "listing_filters",
      "x-displayName": "Listing Filters",
      "description": "## Accommodates\nUse this filter to only include results where the number of `accommodates` (guests) matches the requested parameters.\n<SchemaDefinition schemaRef=\"#/components/schemas/AccommodatesFilter\" />\n\n## Amenities\n<SchemaDefinition schemaRef=\"#/components/schemas/AmenityFilter\" />\n\n## Bathrooms\nUse this filter to only include results where the number of `bathrooms` matches the requested parameters.\n<SchemaDefinition schemaRef=\"#/components/schemas/BathroomsFilter\" />\n\n## Bedrooms\nUse this filter to only include results where the number of `bedrooms` matches the requested parameters.\n<SchemaDefinition schemaRef=\"#/components/schemas/BedroomsFilter\" />\n\n## Days Available LTM\nUse this filter to only include results where the `days_available_ltm` matches the requested parameters.\n<SchemaDefinition schemaRef=\"#/components/schemas/DaysAvailableLtmFilter\" />\n\n## Instant Book\n<SchemaDefinition schemaRef=\"#/components/schemas/InstantBookFilter\" />\n\n## Listing Type\nUse this to filter results where the listings' `listing_type` matches the requested value(s).\n* For **markets** or **submarkets**, this means returning only markets/submarkets that have listings with the requested value(s) for `listing_type`.\n* For **listings**, this means returning only listings with the requested value(s) for `listing_type`.\n<SchemaDefinition schemaRef=\"#/components/schemas/ListingTypeFilter\" />\n\n## Occupancy Rate LTM\nUse this to filter results where the listings' `occupancy` in the last 12 months matches the requested parameters.\n<SchemaDefinition schemaRef=\"#/components/schemas/OccupancyRateLtmFilter\" />\n\n## Price Tier\nUse this to filter results where the listings' `price_tier` matches the value(s).\n* For **markets** or **submarkets**, this means returning only markets/submarkets that have listings with the requested value(s) for `price_tier`.\n* For **listings**, this means returning only listings with the requested value(s) for `price_tier`.\n<SchemaDefinition schemaRef=\"#/components/schemas/PriceTierFilter\" />\n\n## Professionally Managed\n<SchemaDefinition schemaRef=\"#/components/schemas/ProfessionallyManagedFilter\" />\n\n## Property Type\nUse this to filter results where the listings' `property_type` matches the requested parameters.\n<SchemaDefinition schemaRef=\"#/components/schemas/PropertyTypeFilter\" />\n\n## Ratings\nUse this filter to only include results where the listings' `ratings` matches the requested parameters.\n<SchemaDefinition schemaRef=\"#/components/schemas/RatingsFilter\" />\n\n## Real Estate Type\nUse this to filter results where the listings' `real_estate_type` matches the requested value(s).\n* For **markets** or **submarkets**, this means returning only markets/submarkets that have listings with the requested value(s) for `real_estate_type`.\n* For **listings**, this means returning only listings with the requested value(s) for `real_estate_type`.\n<SchemaDefinition schemaRef=\"#/components/schemas/RealEstateTypeFilter\" />\n\n## Review Count\nUse this filter to only include results where the listings' `reviews_count` matches the requested parameters.\n<SchemaDefinition schemaRef=\"#/components/schemas/ReviewsCountFilter\" />\n\n## Superhost\n<SchemaDefinition schemaRef=\"#/components/schemas/SuperhostFilter\" />\n\n## Percent Active\nUse this filter to only include results where the listings are active for that percentage of the month.\n<SchemaDefinition schemaRef=\"#/components/schemas/PercentActiveFilter\" />\n"
    }
  ],
  "paths": {
    "/market/search": {
      "post": {
        "summary": "Search for a Market or Submarket by Search Term or Coordinates.",
        "description": "If you need to find AirDNA Markets or Submarkets, this endpoint allows you to find them via a simple\n`search_term` or `lat` and `lng`.\n\nEach result will provide:\n* A unique `id` that can be used in other endpoints for obtaining data.\n* The **Name** of the market\n* Whether it is a **Market** or **Submarket**\n* Basic **Location** details\n",
        "operationId": "marketSearch",
        "tags": [
          "market_data",
          "submarket_data",
          "listing_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/MarketSearchRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MarketSearchResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/market/{marketId}": {
      "get": {
        "summary": "Fetch details about a specific Market.",
        "description": "Provides basic information about a specific Market. Includes key data such as:\n* Summary Metrics (**Last 12 Months**)\n  * **Market Score**\n  * **Occupancy**\n  * **Revenue**\n  * **RevPAR**\n",
        "operationId": "fetchMarketDetailsById",
        "tags": [
          "market_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "marketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MarketIdParam"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MarketDetailsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/submarket/{submarketId}": {
      "get": {
        "summary": "Fetch details about a specific Submarket.",
        "description": "Provides basic information about a specific Submarket. Includes key data such as:\n* Summary Metrics (**Last 12 Months**)\n  * **Market Score**\n  * **Occupancy**\n  * **Revenue**\n  * **RevPAR**\n",
        "operationId": "fetchSubmarketDetailsById",
        "tags": [
          "submarket_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "submarketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SubmarketIdParam"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SubmarketDetailsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/country/{countryCode}/markets": {
      "post": {
        "summary": "Explore Markets within a Country.",
        "description": "If you're looking to explore & compare top Markets, you can do so either by general Market characteristics, or even compare them based on specific types of Listings!\n\nEach Market includes the following summary metrics (**Last 12 months**):\n* **Market Score**\n* **Occupancy**\n* **Revenue**\n* **RevPAR**\n\nHere are some _**examples**_ of the many things you can do:\n* Sort Markets by highest **Market Score**, **Occupancy**, **Revenue**, **Average Daily Rate** or **Review Count**.\n* Compare specific Markets in the same country by using the [**Market ID Filter**](/#section/Market-ID).\n* Find Markets that have a high [**Seasonality**](/#section/Seasonality) score (a higher score means the Market is more stable throughout the year).\n* Find Markets that have a high [**Regulation**](#section/Regulation) score (a higher score means it's less regulated/strict).\n* Find Markets that have a high [**Rental Demand**](/#section/Rental-Demand) score (a higher score means the booking demand is higher).\n* Use [**Listing Filters**](/#tag/listing_filters) to compare Market performance for certain types of STR Listings.\n",
        "operationId": "fetchMarketsByCountry",
        "tags": [
          "market_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "countryCode",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CountryCodeParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CountryMarketsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CountryMarketsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/country/{countryCode}/submarkets": {
      "post": {
        "summary": "Explore Submarkets within a Country.",
        "description": "If you're looking to explore & compare top Submarkets, you can do so either by general Submarket characteristics, or even compare them based on specific types of Listings!\n\nEach Submarket includes the following summary metrics (**Last 12 months**):\n* **Market Score**\n* **Occupancy**\n* **Revenue**\n* **RevPAR**\n\nHere are some _**examples**_ of the many things you can do:\n* Sort Submarkets by highest **Market Score**, **Occupancy**, **Revenue**, **Average Daily Rate** or **Review Count**.\n* Find Submarkets that have a high [**Seasonality**](/#section/Seasonality) score (a higher score means the Submarket is more stable throughout the year).\n* Find Submarkets that have a high [**Regulation**](#section/Regulation) score (a higher score means it's less regulated/strict).\n* Find Submarkets that have a high [**Rental Demand**](/#section/Rental-Demand) score (a higher score means the booking demand is higher).\n* Use our [**Listing Filters**](/#tag/listing_filters) to compare Submarket performance for certain types of STR Listings.\n",
        "operationId": "fetchSubmarketsByCountry",
        "tags": [
          "submarket_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "countryCode",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CountryCodeParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CountrySubmarketsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CountrySubmarketsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/market/{marketId}/submarkets": {
      "post": {
        "summary": "Explore Submarkets within a Market.",
        "description": "If you're looking to explore & compare top Submarkets, you can do so either by general Submarket characteristics, or even compare them based on specific types of Listings!\n\nEach Submarket includes the following summary metrics (**Last 12 months**):\n* **Market Score**\n* **Occupancy**\n* **Revenue**\n* **RevPAR**\n\nHere are some _**examples**_ of the many things you can do:\n* Sort Submarkets by highest **Market Score**, **Occupancy**, **Revenue**, **Average Daily Rate** or **Review Count**.\n* Find Submarkets that have a high [**Seasonality**](/#section/Seasonality) score (a higher score means the Submarket is more stable throughout the year).\n* Find Submarkets that have a high [**Regulation**](#section/Regulation) score (a higher score means it's less regulated/strict).\n* Find Submarkets that have a high [**Rental Demand**](/#section/Rental-Demand) score (a higher score means the booking demand is higher).\n* Use our [**Listing Filters**](/#tag/listing_filters) to compare Submarket performance for certain types of STR Listings.\n",
        "operationId": "fetchSubmarketsByMarket",
        "tags": [
          "submarket_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "marketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/MarketSubmarketsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CountrySubmarketsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/market/{marketId}/metrics/occupancy": {
      "post": {
        "summary": "Fetch Occupancy Metrics for a Market.",
        "description": "This endpoint provides **12 to 60 months** of historical monthly **occupancy** data for a Market.\n\n* Each month shows the following metrics:\n    * The month.\n    * The average occupancy rate of Listings in that month.\n    * The number of available Listings in that month.\n    * The number of booked Listings in that month.\n    * The number of days available in that month.\n    * The number of days booked in that month.\n\n* Supports some [**Listing Filters**](/#tag/listing_filters) to calculate historical occupancy for certain types of STR Listings within the Market.\n* Supports requests to calculate custom **percentiles** for occupancy rates within the Market.\n",
        "operationId": "fetchMarketOccupancyMetrics",
        "tags": [
          "market_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "marketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/MarketOccupancyMetricsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MarketOccupancyMetricsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/submarket/{submarketId}/metrics/occupancy": {
      "post": {
        "summary": "Fetch Occupancy Metrics for a Submarket.",
        "description": "This endpoint provides **12 to 60 months** of historical monthly **occupancy** data for a Submarket.\n\n* Each month shows the following metrics:\n    * The month.\n    * The average occupancy rate of Listings in that month.\n    * The number of available Listings in that month.\n    * The number of booked Listings in that month.\n    * The number of days available in that month.\n    * The number of days booked in that month.\n\n* Supports some [**Listing Filters**](/#tag/listing_filters) to calculate historical occupancy for certain types of STR Listings within the Submarket.\n* Supports requests to calculate custom **percentiles** for occupancy rates within the Submarket.\n",
        "operationId": "fetchSubmarketOccupancyMetrics",
        "tags": [
          "submarket_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "submarketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SubmarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SubmarketOccupancyMetricsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SubmarketOccupancyMetricsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/market/{marketId}/metrics/avg_revenue": {
      "post": {
        "summary": "Fetch Average Revenue Metrics for a Market.",
        "description": "This endpoint provides **12 to 60 months** of historical monthly **revenue** data for a Market.\n* Supports **Currency Conversion** for **non-USD** currencies.\n  * By **default**, all currency data is in **USD**.\n* Supports some [**Listing Filters**](/#tag/listing_filters) to calculate historical revenue for certain types of STR Listings within the Market.\n* Supports requests to calculate custom **percentiles** for revenue within the Market.\n",
        "operationId": "fetchMarketAvgRevenueMetrics",
        "tags": [
          "market_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "marketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/MarketAvgRevenueMetricsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MarketAvgRevenueMetricsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/submarket/{submarketId}/metrics/avg_revenue": {
      "post": {
        "summary": "Fetch Average Revenue Metrics for a Submarket.",
        "description": "This endpoint provides **12 to 60 months** of historical monthly **revenue** data for a Submarket.\n* Supports **Currency Conversion** for **non-USD** currencies.\n  * By **default**, all currency data is in **USD**.\n* Supports some [**Listing Filters**](/#tag/listing_filters) to calculate historical revenue for certain types of STR Listings within the Submarket.\n* Supports requests to calculate custom **percentiles** for revenue within the Submarket.\n",
        "operationId": "fetchSubmarketAvgRevenueMetrics",
        "tags": [
          "submarket_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "submarketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SubmarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SubmarketAvgRevenueMetricsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SubmarketAvgRevenueMetricsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/market/{marketId}/metrics/adr": {
      "post": {
        "summary": "Fetch Average Daily Rate Metrics for a Market.",
        "description": "This endpoint provides **12 to 60 months** of historical monthly **average daily rate** data for a Market.\n* Supports **Currency Conversion** for **non-USD** currencies.\n  * By **default**, all currency data is in **USD**.\n* Supports some [**Listing Filters**](/#tag/listing_filters) to calculate historical ADR for certain types of STR Listings within the Market.\n* Supports requests to calculate custom **percentiles** for ADR within the Market.\n",
        "operationId": "fetchMarketAvgDailyRateMetrics",
        "tags": [
          "market_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "marketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/MarketAvgDailyRateMetricsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MarketAvgDailyRateMetricsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/submarket/{submarketId}/metrics/adr": {
      "post": {
        "summary": "Fetch Average Daily Rate Metrics for a Submarket.",
        "description": "This endpoint provides **12 to 60 months** of historical monthly **average daily rate** data for a Submarket.\n* Supports **Currency Conversion** for **non-USD** currencies.\n  * By **default**, all currency data is in **USD**.\n* Supports some [**Listing Filters**](/#tag/listing_filters) to calculate historical ADR for certain types of STR Listings within the Submarket.\n* Supports requests to calculate custom **percentiles** for ADR within the Submarket.\n",
        "operationId": "fetchSubmarketAvgDailyRateMetrics",
        "tags": [
          "submarket_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "submarketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SubmarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SubmarketAvgDailyRateMetricsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SubmarketAvgDailyRateMetricsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/market/{marketId}/metrics/revpar": {
      "post": {
        "summary": "Fetch RevPAR Metrics for a Market.",
        "description": "This endpoint provides **12 to 60 months** of historical monthly **RevPAR** (Revenue Per Available Rental) data for a Market.\n* Supports **Currency Conversion** for **non-USD** currencies.\n  * By **default**, all currency data is in **USD**.\n* Supports some [**Listing Filters**](/#tag/listing_filters) to calculate historical RevPAR for certain types of STR Listings within the Market.\n",
        "operationId": "fetchMarketRevparMetrics",
        "tags": [
          "market_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "marketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/MarketRevparMetricsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MarketRevparMetricsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/submarket/{submarketId}/metrics/revpar": {
      "post": {
        "summary": "Fetch RevPAR Metrics for a Submarket.",
        "description": "This endpoint provides **12 to 60 months** of historical monthly **RevPAR** (Revenue Per Available Rental) data for a Submarket.\n* Supports **Currency Conversion** for **non-USD** currencies.\n  * By **default**, all currency data is in **USD**.\n* Supports some [**Listing Filters**](/#tag/listing_filters) to calculate historical RevPAR for certain types of STR Listings within the Submarket.\n",
        "operationId": "fetchSubmarketRevparMetrics",
        "tags": [
          "submarket_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "submarketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SubmarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SubmarketRevparMetricsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SubmarketRevparMetricsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/market/{marketId}/metrics/booking_lead_time": {
      "post": {
        "summary": "Fetch Booking Lead Time Metrics for a Market.",
        "description": "This endpoint provides **12 to 20 months** of historical monthly **booking lead time** data for a Market.\n* Supports some [**Listing Filters**](/#tag/listing_filters) to calculate booking lead time for certain types of STR Listings within the Market.\n",
        "operationId": "fetchMarketBookingLeadTimeMetrics",
        "tags": [
          "market_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "marketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/MarketMetricsBookingLeadTimeRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MarketMetricsBookingLeadTimeResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/submarket/{submarketId}/metrics/booking_lead_time": {
      "post": {
        "summary": "Fetch Booking Lead Time Metrics for a Submarket.",
        "description": "This endpoint provides **12 to 20 months** of historical monthly **booking lead time** data for a Submarket.\n* Supports some [**Listing Filters**](/#tag/listing_filters) to calculate booking lead time for certain types of STR Listings within the Submarket.\n",
        "operationId": "fetchSubmarketBookingLeadTimeMetrics",
        "tags": [
          "submarket_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "submarketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SubmarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SubmarketMetricsBookingLeadTimeRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SubmarketMetricsBookingLeadTimeResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/market/{marketId}/metrics/avg_length_of_stay": {
      "post": {
        "summary": "Fetch Average Length of Stay Metrics for a Market.",
        "description": "This endpoint provides **12 to 20 months** of historical monthly **average length of stay** data for a Market.\n* Supports some [**Listing Filters**](/#tag/listing_filters) to calculate average length of stay for certain types of STR Listings within the Market.\n",
        "operationId": "fetchMarketAvgLengthOfStayMetrics",
        "tags": [
          "market_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "marketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/MarketMetricsAvgLengthOfStayRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MarketMetricsAvgLengthOfStayResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/submarket/{submarketId}/metrics/avg_length_of_stay": {
      "post": {
        "summary": "Fetch Average Length of Stay Metrics for a Submarket.",
        "description": "This endpoint provides **12 to 20 months** of historical monthly **average length of stay** data for a Submarket.\n* Supports some [**Listing Filters**](/#tag/listing_filters) to calculate average length of stay for certain types of STR Listings within the Submarket.\n",
        "operationId": "fetchSubmarketAvgLengthOfStayMetrics",
        "tags": [
          "submarket_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "submarketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SubmarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SubmarketMetricsAvgLengthOfStayRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SubmarketMetricsAvgLengthOfStayResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/market/{marketId}/metrics/active_listings_count": {
      "post": {
        "summary": "Fetch Active Listings Count for a Market.",
        "description": "This endpoint provides **12 to 60 months** of **active listings count** data for a Market.\n* Supports some [**Listing Filters**](/#tag/listing_filters) to calculate active listings count data for certain types of STR Listings within the Market.\n",
        "operationId": "fetchMarketActiveListingsCount",
        "tags": [
          "market_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "marketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/MarketActiveListingsCountRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MarketActiveListingsCountResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/submarket/{submarketId}/metrics/active_listings_count": {
      "post": {
        "summary": "Fetch Active Listings Count for a Submarket.",
        "description": "This endpoint provides **12 to 60 months** of **active listings count** data for a Submarket.\n* Supports some [**Listing Filters**](/#tag/listing_filters) to calculate active listings count data for certain types of STR Listings within the Submarket.\n",
        "operationId": "fetchSubmarketActiveListingsCount",
        "tags": [
          "submarket_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "submarketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SubmarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SubmarketActiveListingsCountRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SubmarketActiveListingsCountResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/market/{marketId}/future_pricing": {
      "post": {
        "summary": "Fetch Future Daily Pricing for a Market.",
        "description": "This endpoint provides **1 to 12 months** of **future daily pricing** data for a Market.\n* Supports some [**Listing Filters**](/#tag/listing_filters) to calculate future pricing data for certain types of STR Listings within the Market.\n* Supports requests to calculate custom **percentiles** for future daily pricing within the Market.\n",
        "operationId": "fetchMarketFuturePricing",
        "tags": [
          "market_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "marketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/MarketFuturePricingRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MarketFuturePricingResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/submarket/{submarketId}/future_pricing": {
      "post": {
        "summary": "Fetch Future Daily Pricing for a Submarket.",
        "description": "This endpoint provides **1 to 12 months** of **future daily pricing** data for a Submarket.\n* Supports some [**Listing Filters**](/#tag/listing_filters) to calculate future pricing data for certain types of STR Listings within the Submarket.\n* Supports requests to calculate custom **percentiles** for future daily pricing within the Submarket.\n",
        "operationId": "fetchSubmarketFuturePricing",
        "tags": [
          "submarket_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "submarketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SubmarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SubmarketFuturePricingRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SubmarketFuturePricingResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/country/{countryCode}/listings": {
      "post": {
        "summary": "Explore Listings within a Country.",
        "description": "If you're looking to explore listings within a country, you can do so by general listing characteristics or metrics.\n\nUse [**Listing Filters**](/#tag/listing_filters) to specify details for listings you want to search for.\n\nHere are some _**examples**_ of the many things you can do:\n* Sort listings by highest **Occupancy**, **Revenue**, **Average Daily Rate** or **Review Count**.\n* Find listings with an average **Rating** of 4 or higher.\n* Find listings within a certain **Market Type**.\n* Find listings that have a high **Investability** or **Revenue Growth**.\n",
        "operationId": "fetchListingsByCountry",
        "tags": [
          "listing_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "countryCode",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CountryCodeParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CountryListingsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/CountryListingsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/market/{marketId}/listings": {
      "post": {
        "summary": "Explore Listings within a Market.",
        "description": "If you're looking to explore listings within a Market, you can do so by general listing characteristics or metrics.\n\nUse [**Listing Filters**](/#tag/listing_filters) to specify details for listings you want to search for.\n\nHere are some _**examples**_ of the many things you can do:\n* Sort listings by highest **Occupancy**, **Revenue**, **Average Daily Rate** or **Review Count**.\n* Find listings with an average **Rating** of 4 or higher.\n* Find listings that have a high **Investability** or **Revenue Growth**.\n",
        "operationId": "fetchListingsByMarket",
        "tags": [
          "listing_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "marketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/MarketListingsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MarketListingsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/submarket/{submarketId}/listings": {
      "post": {
        "summary": "Explore Listings within a Submarket.",
        "operationId": "fetchListingsBySubmarket",
        "description": "If you're looking to explore listings within a Submarket, you can do so by general listing characteristics or metrics.\n\nUse [**Listing Filters**](/#tag/listing_filters) to specify details for listings you want to search for.\n\nHere are some _**examples**_ of the many things you can do:\n* Sort listings by highest **Occupancy**, **Revenue**, **Average Daily Rate** or **Review Count**.\n* Find listings with an average **Rating** of 4 or higher.\n* Find listings that have a high **Investability** or **Revenue Growth**.\n",
        "tags": [
          "listing_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "submarketId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SubmarketIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SubmarketListingsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SubmarketListingsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/listing/comps/area": {
      "post": {
        "summary": "Explore Listings Within a Given Radius",
        "operationId": "fetchListingsByArea",
        "description": "This endpoint will return a list of comparable listings within a radius of a given address or location.\n\nUse [**Listing Filters**](/#tag/listing_filters) to specify details for listings you want to search for.\n\nThis request will return details about the listings such as:\n* **Number of bedrooms and bathrooms**\n* **Overall Rating**\n* **Review Count**\n* **Metrics such as ADR, Revenue, and Occupancy**\n* **Amenities**\n\nSupports **Currency Conversion** for **non-USD** currencies.\n  * By **default**, all currency data is in **USD**.\n",
        "tags": [
          "listing_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ListingCompsInAreaRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListingCompsInAreaResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/listing/{listingId}": {
      "get": {
        "summary": "Fetch details about a specific Listing.",
        "operationId": "fetchListingDetailsById",
        "description": "This endpoint returns details about a specific listing.\n\nThis request will return details such as:\n* **Number of bedrooms and bathrooms**\n* **Overall Rating**\n* **Review Count**\n* **Metrics such as ADR, Revenue, and Occupancy**\n* **Amenities**\n",
        "tags": [
          "listing_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "listingId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ListingIdParam"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListingDetailsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/listing/bulk/fetch": {
      "post": {
        "summary": "Fetch details about multiple Listings.",
        "operationId": "fetchBulkListingDetailsById",
        "description": "This endpoint provides details for **up to 25** Listings in a single request.\n\nThis request will return details such as:\n* **Number of bedrooms and bathrooms**\n* **Overall Rating**\n* **Review Count**\n* **Metrics such as ADR, Revenue, and Occupancy**\n* **Amenities**\n\nSupports **Currency Conversion** for **non-USD** currencies.\n  * By **default**, all currency data is in **USD**.\n",
        "tags": [
          "listing_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ListingBulkFetchRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListingBulkFetchResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/listing/{listingId}/metrics": {
      "post": {
        "summary": "Fetch Historical Metrics for a specific Listing.",
        "operationId": "fetchListingMetricsById",
        "description": "This endpoint provides **12-60 months** of historical monthly **listing metrics** for a specific Listing.\n\nThis request will return metrics of:\n* **Occupancy**\n* **Revenue**\n* **ADR**\n\nSupports **Currency Conversion** for **non-USD** currencies.\n  * By **default**, all currency data is in **USD**.\n",
        "tags": [
          "listing_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "listingId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ListingIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ListingMetricsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListingMetricsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/listing/{listingId}/comps": {
      "post": {
        "summary": "Fetch Comps for a Listing.",
        "operationId": "fetchCompsForListingById",
        "description": "This endpoint allows you to search for a listing and returns a list of comparable listings.\n\nThis request will return details for the comparable listings such as:\n* **Number of bedrooms and bathrooms**\n* **Overall Rating**\n* **Review Count**\n* **Metrics such as ADR, Revenue, and Occupancy**\n* **Amenities**\n\nSupports **Currency Conversion** for **non-USD** currencies.\n  * By **default**, all currency data is in **USD**.\n",
        "tags": [
          "listing_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "listingId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ListingIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ListingCompsRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListingCompsResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/listing/{listingId}/future/pricing": {
      "post": {
        "summary": "Fetch Future Pricing for a Listing.",
        "operationId": "fetchFuturePricingForListingById",
        "description": "This endpoint provides daily future pricing for a listing for up to **12 months**.\n\n* Supports **Currency Conversion** for **non-USD** currencies.\n  * By **default**, all currency data is in **USD**.\n",
        "tags": [
          "listing_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "listingId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ListingIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ListingFutureDailyPricingRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListingFutureDailyPricingResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundErrorResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/rentalizer/summary/individual": {
      "post": {
        "summary": "Request a Summarized Performance Estimate for an Address or Location.",
        "description": "If you are looking for a _summarized_ **Rentalizer** performance estimate, you can request a summary for an address or location.\n\nThe requested address or location will receive the following data points:\n* **Average Daily Rate** (based on next 12 months)\n* **Total Revenue** (based on next 12 months)\n* **Occupancy** (based on next 12 months)\n",
        "operationId": "rentalizerIndividualSummary",
        "tags": [
          "rentalizer_summary_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/RentalizerIndividualSummaryRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RentalizerIndividualSummaryResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/rentalizer/estimate": {
      "post": {
        "summary": "Individual: Request a Detailed Performance Estimate for an Address or Location.",
        "description": "You can request a _detailed_ **Rentalizer** performance estimate for a property (by `address`) or location (by `lat` + `lng`).\n\nThis detailed Rentalizer performance estimate will provide:\n* High-level **summaries** for **future** and **historical** performance estimates.\n* 12 months of monthly **future** performance estimates for **rates**, **revenue** and **occupancy**.\n* 12 months of monthly **historical** performance estimates for **annual revenue valuation**.\n* Up to 10 comps, each with up 12 months of monthly historical performance data for **rates**, **revenue**, **revenue potential** and **occupancy**.\n",
        "operationId": "rentalizerEstimate",
        "tags": [
          "rentalizer_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/RentalizerEstimateRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RentalizerEstimateResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/rentalizer/bulk_summary": {
      "post": {
        "summary": "Bulk: Request Summarized Performance Estimates for Multiple Addresses or Locations.",
        "description": "If you are looking for _summarized_ **Rentalizer** performance estimates, you can request summaries for **up to 25** addresses or locations in a single request.\n\nEach requested address or location will receive the following data points:\n* **Average Daily Rate** (based on next 12 months)\n* **Total Revenue** (based on next 12 months)\n* **Occupancy** (based on next 12 months)\n",
        "operationId": "rentalizerBulkSummary",
        "tags": [
          "rentalizer_data"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/RentalizerBulkSummaryRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/RentalizerBulkSummaryResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/GenericErrorResponseBody"
          }
        }
      }
    },
    "/listing/{listingId}/smart_rates/pricing_strategies": {
      "get": {
        "summary": "Fetch Pricing Strategy Base Rates for an Airbnb Listing.",
        "description": "Given a Listing ID, this endpoint provides the recommended Base Rate for each offered pricing strategy.\n\n| Pricing Strategy | Description |\n| ---------------- | ----------- |\n| `balanced` | An optimized balance between ADR and Occupancy. |\n| `high_adr` | Maximize a high average daily rate. |\n| `high_occupancy` | Maximize a high occupancy rate. |\n\n* Supports **Currency Conversion** for **non-USD** currencies.\n  * By **default**, all currency data is in **USD**.\n",
        "operationId": "fetchPricingStrategyBaseRatesForListingById",
        "tags": [
          "smart_rates"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "listingId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ListingIdParam"
            }
          },
          {
            "in": "query",
            "name": "currency",
            "schema": {
              "$ref": "#/components/schemas/CurrencyParam"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SmartRatesPricingStrategiesResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/SmartRatesScrapeExceptionResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/SmartRatesExceptionsResponseBody"
          }
        }
      }
    },
    "/listing/{listingId}/smart_rates": {
      "post": {
        "summary": "Fetch Smart Rates for an Airbnb Listing.",
        "description": "Given a Listing ID, this endpoint provides **up to 12 months** of recommended daily rates based on the requested pricing strategy.\n\n* Supports **Currency Conversion** for **non-USD** currencies.\n  * By **default**, all currency data is in **USD**.\n",
        "operationId": "fetchSmartRatesForListingById",
        "tags": [
          "smart_rates"
        ],
        "security": [
          {
            "headerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "listingId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ListingIdParam"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/SmartRatesRequestBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SmartRatesResponseBody"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestResponseBody"
          },
          "404": {
            "$ref": "#/components/responses/SmartRatesScrapeExceptionResponseBody"
          },
          "500": {
            "$ref": "#/components/responses/SmartRatesExceptionsResponseBody"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CountryCodeParam": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CountryISO"
          }
        ],
        "example": "us"
      },
      "CurrencyParam": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CurrencyISO"
          }
        ],
        "example": "usd"
      },
      "ListingIdParam": {
        "type": "string",
        "description": "AirDNA ID for the Listing. This can often be found as `property_id`.",
        "example": "abnb_XXXXXXXX"
      },
      "MarketIdParam": {
        "type": "string",
        "description": "AirDNA ID for the Market. This can often be found as `market_id`.",
        "example": "airdna-163"
      },
      "SubmarketIdParam": {
        "type": "string",
        "description": "AirDNA ID for the Submarket. This can often be found as `submarket_id`.",
        "example": "airdna-2331"
      },
      "CountryListingsRequestSchema": {
        "description": "Schema representing the base request for retrieving Listings relative to a Country.",
        "type": "object",
        "required": [
          "pagination"
        ],
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/PaginationRequestSchema"
          },
          "filters": {
            "$ref": "#/components/schemas/CountryListingsFilterListSchema"
          },
          "currency": {
            "$ref": "#/components/schemas/CurrencyISO",
            "description": "ISO 4217 Currency Codes used for converting currency data.",
            "default": "usd"
          },
          "sort_order": {
            "$ref": "#/components/schemas/ListingSortOrder",
            "default": "revenue"
          }
        }
      },
      "Status": {
        "description": "The Status object on the response envelope",
        "type": "object",
        "required": [
          "type",
          "response_id",
          "message"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "error",
              "success"
            ],
            "description": "The type of response provided by the server.",
            "example": "success"
          },
          "response_id": {
            "type": "string",
            "description": "A unique response code that can be used as a reference for support requests.",
            "example": "API-S-XXX"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message that can provide more detail about the status of the request.",
            "example": "A successful request was made."
          }
        }
      },
      "RentalizerEstimateRequestAddressSchema": {
        "type": "object",
        "title": "Estimate by Address",
        "required": [
          "address"
        ],
        "allOf": [
          {
            "type": "object",
            "properties": {
              "address": {
                "type": "string",
                "description": "String representing an address. Can include state, country, zipcode/postal code.",
                "example": "1321 15th St. Denver, CO 80202"
              }
            }
          },
          {
            "$ref": "#/components/schemas/RentalizerEstimateBaseRequestSchema"
          }
        ]
      },
      "RentalizerEstimateRequestLatLngSchema": {
        "type": "object",
        "title": "Estimate By Coordinates",
        "required": [
          "lat",
          "lng"
        ],
        "allOf": [
          {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number",
                "description": "ISO 6709 Latitude coordinate. Must be used with `lng`.",
                "example": 39.748847
              },
              "lng": {
                "type": "number",
                "description": "ISO 6709 Longitude coordinate point. Must be used with `lat`.",
                "example": -104.99891
              }
            }
          },
          {
            "$ref": "#/components/schemas/RentalizerEstimateBaseRequestSchema"
          }
        ]
      },
      "CountryMarketsFilterListSchema": {
        "description": "Array of filters that can be used to refine your search results.\n",
        "type": "array",
        "items": {
          "anyOf": [
            {
              "allOf": [
                {
                  "$ref": "#/components/schemas/AccommodatesFilter"
                },
                {
                  "title": "Accommodates Filter"
                }
              ]
            },
            {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BathroomsFilter"
                },
                {
                  "title": "Bathrooms Filter"
                }
              ]
            },
            {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BedroomsFilter"
                },
                {
                  "title": "Bedrooms Filter"
                }
              ]
            },
            {
              "allOf": [
                {
                  "$ref": "#/components/schemas/InvestabilityFilter"
                },
                {
                  "title": "Investability Filter"
                }
              ]
            },
            {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ListingCountFilter"
                },
                {
                  "title": "Listing Count Filter"
                }
              ]
            },
            {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ListingTypeFilter"
                },
                {
                  "title": "Listing Type Filter"
                }
              ]
            },
            {
              "allOf": [
                {
                  "$ref": "#/components/schemas/MarketIdFilter"
                },
                {
                  "title": "Market ID Filter"
                }
              ]
            },
            {
              "allOf": [
                {
                  "$ref": "#/components/schemas/MarketTypeFilter"
                },
                {
                  "title": "Market Type Filter"
                }
              ]
            },
            {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PriceTierFilter"
                },
                {
                  "title": "Price Tier Filter"
                }
              ]
            },
            {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ProfessionallyManagedFilter"
                },
                {
                  "title": "Professionally Managed Filter"
                }
              ]
            },
            {
              "allOf": [
                {
                  "$ref": "#/components/schemas/RatingsFilter"
                },
                {
                  "title": "Ratings Filter"
                }
              ]
            },
            {
              "allOf": [
                {
                  "$ref": "#/components/schemas/RealEstateTypeFilter"
                },
                {
                  "title": "Real Estate Type Filter"
                }
              ]
            },
            {
              "allOf": [
                {
                  "$ref": "#/components/schemas/RegulationFilter"
                },
                {
                  "title": "Regulation Filter"
                }
              ]
            },
            {
              "allOf": [
                {
                  "$ref": "#/components/schemas/RentalDemandFilter"
                },
                {
                  "title": "Rental Demand Filter"
                }
              ]
            },
            {
              "allOf": [
                {
                  "$ref": "#/components/schemas/RevenueGrowthFilter"
                },
                {
                  "title": "Revenue Growth Filter"
                }
              ]
            },
            {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SeasonalityFilter"
                },
                {
                  "title": "Seasonality Filter"
                }
              ]
            }
          ]
        }
      },
      "ListingCompsInAreaRequestAddressSchema": {
        "type": "object",
        "title": "Search by Address",
        "required": [
          "address"
        ],
        "allOf": [
          {
            "type": "object",
            "properties": {
              "address": {
                "type": "string",
                "description": "String representing an address. Can include state, country, zipcode/postal code.",
                "example": "1321 15th St. Denver, CO 80202"
              }
            }
          },
          {
            "$ref": "#/components/schemas/ListingCompsInAreaBaseRequestSchema"
          }
        ]
      },
      "ListingCompsInAreaRequestLatLngSchema": {
        "type": "object",
        "title": "Search By Coordinates",
        "required": [
          "lat",
          "lng"
        ],
        "allOf": [
          {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number",
                "description": "ISO 6709 Latitude coordinate. Must be used with `lng`.",
                "example": 39.748847
              },
              "lng": {
                "type": "number",
                "description": "ISO 6709 Longitude coordinate point. Must be used with `lat`.",
                "example": -104.99891
              }
            }
          },
          {
            "$ref": "#/components/schemas/ListingCompsInAreaBaseRequestSchema"
          }
        ]
      },
      "PaginationRequestSchema": {
        "type": "object",
        "description": "Use this object to request a specific page of data.",
        "required": [
          "offset",
          "page_size"
        ],
        "properties": {
          "offset": {
            "description": "The number of results to skip. (e.g. for the third page where `page_size=10`, you can set `offset=20`)",
            "type": "number",
            "minimum": 0
          },
          "page_size": {
            "description": "The number of results to return per page.",
            "type": "number",
            "minimum": 1,
            "maximum": 25,
            "default": 25
          }
        },
        "example": {
          "page_size": 25,
          "offset": 0
        }
      },
      "MarketSearchByTermRequestSchema": {
        "title": "Search By Term",
        "description": "Request Schema for searching for Markets By Search Term.\n",
        "required": [
          "pagination",
          "search_term"
        ],
        "type": "object",
        "properties": {
          "search_term": {
            "description": "A search term to find a Market. It's recommended this be a **city**, a **state** or a **neighborhood**",
            "type": "string",
            "example": "Denver"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationRequestSchema"
          }
        }
      },
      "MarketSearchByLatLngRequestSchema": {
        "title": "Search By Coordinates",
        "description": "Request Schema for searching for Markets by Latitude and Longitude.\n",
        "required": [
          "pagination",
          "lat",
          "lng"
        ],
        "type": "object",
        "properties": {
          "lat": {
            "type": "number",
            "description": "ISO 6709 Latitude coordinate. Must be used with `lng`.",
            "example": 39.748847
          },
          "lng": {
            "type": "number",
            "description": "ISO 6709 Longitude coordinate point. Must be used with `lat`.",
            "example": -104.99891
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationRequestSchema"
          }
        }
      },
      "MarketSearchMarketResultSchema": {
        "description": "Search result for a Market.",
        "type": "object",
        "required": [
          "id",
          "name",
          "type",
          "listing_count",
          "location_name",
          "location",
          "legacy_location"
        ],
        "properties": {
          "id": {
            "description": "The ID of the Market.",
            "type": "integer",
            "example": 80382
          },
          "name": {
            "description": "The Name of the Market.",
            "type": "string",
            "example": "Paris"
          },
          "type": {
            "description": "Identifies if the result is a Market.",
            "type": "string",
            "enum": [
              "market"
            ]
          },
          "listing_count": {
            "description": "The number of Listings in the Market.",
            "type": "integer",
            "example": 1352
          },
          "location_name": {
            "description": "A more descriptive name of the Location.",
            "type": "string",
            "example": "Paris, Texas, US"
          },
          "location": {
            "description": "Location information for the Market.",
            "type": "object",
            "required": [
              "state",
              "country",
              "country_code"
            ],
            "properties": {
              "state": {
                "description": "The state where the Market is located.",
                "type": [
                  "string",
                  "null"
                ],
                "example": "Texas"
              },
              "country": {
                "description": "The country where the Market is located.",
                "type": "string",
                "example": "United States"
              },
              "country_code": {
                "description": "The ISO code of the country where the Market is located.",
                "type": "string",
                "example": "us"
              }
            }
          },
          "legacy_location": {
            "description": "Legacy location information for the Market.",
            "type": "object",
            "required": [
              "city_names",
              "zipcodes",
              "neighborhoods"
            ],
            "properties": {
              "city_names": {
                "description": "List of city names related to the Market.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "zipcodes": {
                "description": "List of zipcodes related to the Market.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "neighborhoods": {
                "description": "List of neighborhoods names related to the Market.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "MarketSearchSubmarketResultSchema": {
        "description": "Search result for a Submarket.",
        "type": "object",
        "required": [
          "id",
          "name",
          "type",
          "listing_count",
          "location_name",
          "location",
          "legacy_location",
          "parent_market"
        ],
        "properties": {
          "id": {
            "description": "The ID of the Submarket.",
            "type": "integer",
            "example": 80382
          },
          "name": {
            "description": "The Name of the Submarket.",
            "type": "string",
            "example": "Paris"
          },
          "type": {
            "description": "Identifies if the result is a Submarket.",
            "type": "string",
            "enum": [
              "submarket"
            ]
          },
          "listing_count": {
            "description": "The number of Listings in the Submarket.",
            "type": "integer",
            "example": 1352
          },
          "location_name": {
            "description": "A more descriptive name of the Location.",
            "type": "string",
            "example": "Paris, Texas, US"
          },
          "location": {
            "description": "Location information for the Submarket.",
            "type": "object",
            "required": [
              "state",
              "country",
              "country_code"
            ],
            "properties": {
              "state": {
                "description": "The state where the Submarket is located.",
                "type": [
                  "string",
                  "null"
                ],
                "example": "Texas"
              },
              "country": {
                "description": "The country where the Submarket is located.",
                "type": "string",
                "example": "United States"
              },
              "country_code": {
                "description": "The ISO code of the country where the Submarket is located.",
                "type": "string",
                "example": "us"
              }
            }
          },
          "legacy_location": {
            "description": "Legacy location information for the Submarket.",
            "type": "object",
            "required": [
              "city_names",
              "zipcodes",
              "neighborhoods"
            ],
            "properties": {
              "city_names": {
                "description": "List of city names related to the Submarket.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "zipcodes": {
                "description": "List of zipcodes related to the Submarket.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "neighborhoods": {
                "description": "List of neighborhoods names related to the Submarket.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "parent_market": {
            "description": "The information for the Market that the Submarket belongs to.",
            "type": [
              "object",
              "null"
            ],
            "required": [
              "id",
              "name"
            ],
            "properties": {
              "id": {
                "description": "The ID of the parent Market.",
                "type": "string",
                "example": "airdna-163"
              },
              "name": {
                "description": "The Name of the parent Market.",
                "type": "string",
                "example": "Denver"
              }
            }
          }
        }
      },
      "MarketSearchResponseSchema": {
        "type": "object",
        "required": [
          "page_info",
          "results"
        ],
        "properties": {
          "page_info": {
            "description": "Describes the page information for the results.",
            "type": "object",
            "required": [
              "page_size",
              "offset"
            ],
            "properties": {
              "page_size": {
                "description": "The number of results actually returned.",
                "type": "number",
                "minimum": 1,
                "maximum": 25
              },
              "offset": {
                "description": "The number of results that were skipped.",
                "type": "number",
                "minimum": 0
              }
            },
            "example": {
              "page_size": 25,
              "offset": 25
            }
          },
          "results": {
            "description": "List of Markets and/or Submarkets.",
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/MarketSearchMarketResultSchema"
                },
                {
                  "$ref": "#/components/schemas/MarketSearchSubmarketResultSchema"
                }
              ]
            }
          }
        }
      },
      "MarketType": {
        "description": "The type of the Market/Submarket.",
        "type": "string",
        "enum": [
          "coastal",
          "mid_size_city",
          "mountains_lakes",
          "rural",
          "suburban",
          "urban_metro"
        ],
        "example": "mountains_lakes"
      },
      "MarketMetrics": {
        "description": "Provides a high-level performance summary of the Listings within a Market/Submarket.",
        "type": "object",
        "required": [
          "market_score",
          "revenue",
          "booked",
          "daily_rate",
          "revpar"
        ],
        "properties": {
          "market_score": {
            "description": "Score based on how the Market/Submarket has performed across demand, revenue growth, seasonality and regulation.\n",
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "example": 100
          },
          "revenue": {
            "description": "Average Revenue for a Listing within the Market/Submarket.\n* Calculated based on the Listings that meet the requested `filters`.\n* Calculated based on data from the **Last 12 Months**\n",
            "type": "number",
            "example": 787243
          },
          "booked": {
            "description": "Percentage representing how often the Listings in the Market/Submarket have been booked against their availability.\n* Expressed as a decimal value from 0.0 to 1.0.\n* Calculated based on the Listings that meet the requested `filters`.\n* Calculated based on data from the **Last 12 Months**\n",
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "example": 0.78
          },
          "daily_rate": {
            "description": "The average daily booking rate for the Listings in the Market/Submarket.\n* Calculated based on the Listings that meet the requested `filters`.\n* Calculated based on data from the **Last 12 Months**\n",
            "type": "number",
            "example": 502
          },
          "revpar": {
            "description": "The RevPAR (Revenue Per Available Rental) for the Listings in the Market/Submarket.\n* Calculated based on the Listings that meet the requested `filters`.\n* Calculated based on data from the **Last 12 Months**\n",
            "type": [
              "number",
              "null"
            ],
            "example": 462.1
          }
        }
      },
      "Geom": {
        "type": "object",
        "properties": {
          "MultiPolygon": {
            "type": "object",
            "description": "GeoJson Mulipolygon",
            "required": [
              "coordinates"
            ],
            "properties": {
              "coordinates": {
                "type": "array",
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "LinearRing": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
[...]
