@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --primary: #2563eb;
    --primary-foreground: #ffffff;
    
    --card: #ffffff;
    --card-foreground: #000000;
    --muted: #f3f4f6;
    --muted-foreground: #6b7280;

    --border: #e5e7eb;
    --ring: #e5e7eb;
  }
}